extends layout
include mixins

block content
  form.form(method='post' action='/login')
    +input('Notendanafn', 'username')
    +input('Lykilorð', 'password')(type='password')

    button.form__button Innskrá

